@{
    ViewData["Title"] = "About Us";
}
<h1 class="text-white">@ViewData["Title"]</h1>

<p class="text-white">"Travel Shark" is a tourism management system which is used to book a tour from anywhere in the world by a 
    single dynamic website which will help the user to make reservation of hotel and bus seat in a single website. 
    Travel Shark will be functioning like a travel agency where user will send an book request and agency will send confirm the booking.</p>

<span class="text-muted">This system "Travel Shark" is developed by Team Noob.</span>
