@model TourismManagementSystem.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <form asp-action="ChangePassword">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row gutters">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="account-settings">
                            <div class="user-profile">
                                <div class="user-avatar">
                                    <img src="~/Image/avatar.png" alt="">
                                </div>
                                <h5 class="user-name"></h5>
                                <h6 class="user-email"></h6>
                            </div>
                            @*<div class="about">
                                    <h5>About</h5>

                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Change Your Password</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="CurrentPassword" class="control-label">Current Password</label>
                                    <input asp-for="CurrentPassword" class="form-control" placeholder="Current Password" />
                                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="NewPassword" class="control-label">New Password</label>
                                    <input asp-for="NewPassword" class="form-control" placeholder="New Password" />
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <br />
                                <div class="form-group">
                                    <a asp-area="" asp-controller="Userview" asp-action="EditUserProfile">
                                            <input type="button" class="btn btn-secondary" name="submit" value="Cancel">
                                        </a>
                                    <input type="submit" class="btn btn-primary" value="Update">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>